@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
	height: 100vh;
	align-items: center;
}



body {
	overflow: auto;
}

span {
	color: #FFFFFF;
}

@font-face {
	font-family: Montserrat_Regular;
	src: url("./../src/assets/fonts/Montserrat-Regular.ttf") format("truetype")
}