@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;


	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}



body {
	background-color: #27374D;
	display: flex;
	place-items: center;
}

span {
	color: #FFFFFF;
}

@font-face {
	font-family: SourceSansPro_Bold;
	src: url("./../src/assets/fonts/SourceSansPro-Bold.ttf") format("truetype")
}

@font-face {
	font-family: SourceSansPro_Regular;
	src: url("./../src/assets/fonts/SourceSansPro-Regular.ttf") format("truetype")
}

@font-face {
	font-family: SourceSansPro_SemiBold;
	src: url("./../src/assets/fonts/SourceSansPro-SemiBold.ttf") format("truetype")
}