@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
	/* background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%); */
	display: flex;
	align-items: center
}



body {
	background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
	overflow: auto;
}

span {
	color: #FFFFFF;
}

@font-face {
	font-family: Montserrat_Regular;
	src: url("./../src/assets/fonts/Montserrat-Regular.ttf") format("truetype")
}